body {
    margin: 0;
    background: #eee;
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Following section is the Style for the Header*/
.header {
    /*Creating the background for the header and aligning the flex content*/
    background-color: #1F2937;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.left-side{
    /* Styling the left side of the header which is the logo*/
    display:inline-flex;
    justify-content: flex-start;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.right-side{
    /* Styling the links for the header and all things in the right hand side*/
    display:inline-flex;
    justify-content: flex-end;
    font-size:18px;
}


a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #e5e7eb;
    margin: 15px;
  }
  
  ul {
    list-style-type: none;
    display: inline-flex;
  }

/* Styling required for the Hero Text*/

.hero{
    /*Creating the container for the hero text section*/
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom:100px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.hero-text{
    /*The Left hand side of the hero box including all text*/
    padding:5px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:450px;
    color:#e5e7eb;
    font-size:18px;
}

.hero-title{
    /*Styling specifcally for the hero-text*/
    color:#F9FAF8;
    font-size:48px;
    font-weight:bolder;
}

.hero-image{
    /*Box for an image placeholder*/
    width:450px;
    height:200px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling for the information section*/
.inform{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

/*Individual boxes for each image/text combination*/
.boxes {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-flow:flow;
    width:150px;
    text-align: center;
    margin: 52px;
    margin-top: 32px;
  }

  /*Placeholder image for images*/
.inform-image{
    width:150px;
    height:150px;
    border: 5px;
    border-radius: 25px;
    border-style:solid;
    border-color: #3882F6;
    margin-bottom: 20px;
}

/*Styling the head seperately for ease of use*/
.info-head{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; 
    color: #1f2937;
    font-size:36px;
    font-weight:bolder;
}

/*Quote Section*/
.qoute{
    display:flex;
    flex-direction:column;
    background: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding-top:100px;
    padding-bottom:100px;
}

.qoute-text{
    width:800px;
    font-size:36px;
    color: #1F2937;
    font-weight:lighter;
    font-style: italic;
}

.qoute-name{
    display:flex;
    width:800px;
    justify-content: flex-end;
}

/*General styling for items*/
button{
    /*Creating the button*/
    margin-top: 10px;
    border-radius: 8px;
    max-width: 100px;
    background: #3882F6;
    border: 1px solid royalblue;
    color:#e5e7eb;
    font-weight:bold;
    font-size:18px;
}